@model SiteYonetici.Entities.Income

@{
    ViewBag.Title = "Gelir Güncelle";
}

<div class="row">
    <div class="col-md-12">
        <p class="display-4 border-bottom">
            @ViewBag.Title
        </p>
    </div>
</div>

<div class="row mt-3 ml-5">
    <div class="col-md-8 col-offset-2">
        @using (Html.BeginForm("Edit", "Income", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group row">
                @Html.LabelFor(model => model.SafeId, htmlAttributes: new { @class = "col-form-label font-weight-bold col-md-2" })
                @Html.DropDownListFor(model => model.SafeId, (List<SelectListItem>)ViewBag.Safe, "kasa seçiniz...", new { @class = "form-control dropdown col-md-10" })
                @Html.ValidationMessageFor(model => model.SafeId, "", new { @class = "text-danger col-md-10", style = "margin-left:150px" })
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.IncomeAccountId, htmlAttributes: new { @class = "col-form-label font-weight-bold col-md-2" })
                @Html.DropDownListFor(model => model.IncomeAccountId, (SelectList)ViewBag.IncomeAccount, "gelir hesabı seçiniz...", new { @class = "form-control dropdown col-md-10" })
                @Html.ValidationMessageFor(model => model.IncomeAccountId, "", new { @class = "text-danger col-md-10", style = "margin-left:150px" })
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "col-form-label font-weight-bold col-md-2" })
                @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control col-md-10", type = "number" } })
                @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger col-md-10", style = "margin-left:150px" })
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "col-form-label font-weight-bold col-md-2" })
                <textarea name="Description" class="form-control col-md-10" rows="5">@Html.Raw(Model.Description)</textarea>
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger col-md-10", style = "margin-left:150px" })
            </div> <br />

            <div class="form-group row">
                <div class="col-md-12 text-right" style="left">
                    @BoostrapHelper.Button("warning", "Güncelle", string.Empty, "submit", "edit", "Güncelle")
                    @BoostrapHelper.LinkButton("/Income/Index", "secondary", string.Empty, "İptal", "arrow-left", "İptal")
                </div>
            </div>
        }
    </div>
</div>


